Repository krissemicolon-forks/cardano-node, changes with the owners that CODEOWNERS names for each.
All owners: @fsancheziohk, @nahern, @olgahryniuk, @LaurenceIO, @DavidEichmann, @dcoutts, @Jimbo4350, @erikd, @newhoggy, @docs-access, @deepfire, @MarcFontaine, @denisshevchenko, @jutaro, @devops

CAD-2772 address reviews
  cardano-node/cardano-node.cabal
  release.nix
Owners: @DavidEichmann, @dcoutts, @Jimbo4350, @erikd, @newhoggy, @devops

Fix musl TH by enabling shared libraries
  nix/haskell.nix
Owners: @devops

CAD-2907 scaffolding
  doc/block-propagation.org
  nix/workbench/profiles/node-services.nix
Owners: @docs-access, @devops

CAD-2907 consensus: bump to cad-2907-stub-compute
  cabal.project
Owners: @DavidEichmann, @dcoutts, @Jimbo4350, @erikd, @newhoggy

CAD-2907 stub compute: calibrate at startup, with configurable targets
  cardano-node/src/Cardano/Node/Configuration/POM.hs
  cardano-node/src/Cardano/Node/Protocol/Cardano.hs
  cardano-node/src/Cardano/Node/Types.hs
Owners: @DavidEichmann, @dcoutts, @Jimbo4350, @erikd, @newhoggy

CAD-2907 workbench: initial analysis integration
  nix/supervisord-cluster/default.nix
  nix/workbench/analyse.sh
  nix/workbench/default.nix
  nix/workbench/lib.sh
  nix/workbench/run.sh
  nix/workbench/wb
Owners: @devops

CAD-2907 workbench: add locli, a log analysis tool
  cabal.project
  nix/haskell.nix
  nix/pkgs.nix
  nix/workbench/default.nix
  nix/workbench/locli/NOTICE
  nix/workbench/locli/app/locli.hs
  nix/workbench/locli/locli.cabal
  nix/workbench/locli/src/Cardano/Config/Git/Rev.hs
  nix/workbench/locli/src/Cardano/Config/Git/RevFromGit.hs
  nix/workbench/locli/src/Cardano/Profile.hs
  nix/workbench/locli/src/Cardano/TopHandler.hs
  nix/workbench/locli/src/Cardano/Unlog/Analysis.hs
  nix/workbench/locli/src/Cardano/Unlog/Commands.hs
  nix/workbench/locli/src/Cardano/Unlog/LogObject.hs
  nix/workbench/locli/src/Cardano/Unlog/Parsers.hs
  nix/workbench/locli/src/Cardano/Unlog/Resources.hs
  nix/workbench/locli/src/Cardano/Unlog/Run.hs
  nix/workbench/locli/src/Cardano/Unlog/SlotStats.hs
  nix/workbench/locli/src/Cardano/Unlog/Summary.hs
  nix/workbench/locli/src/Data/Accum.hs
  nix/workbench/locli/src/Data/Distribution.hs
Owners: @DavidEichmann, @dcoutts, @Jimbo4350, @erikd, @newhoggy, @devops

CAD-2907 workbench: profile name parametrisation fix
  Makefile
  shell.nix
Owners: @deepfire, @devops

CAD-2907 workbench: extensions supporting block propagation analysis
  nix/workbench/analyse.sh
  nix/workbench/backend.sh
  nix/workbench/supervisor.sh
Owners: @devops

CAD-2907 worbench: 10-* profiles, for a 10-node cluster
  nix/workbench/profiles/adhoc.jq
Owners: @devops

CAD-2907 locli: block event collection & chain reconstruction
  nix/workbench/analyse.sh
  nix/workbench/locli/locli.cabal
  nix/workbench/locli/src/Cardano/Profile.hs
  nix/workbench/locli/src/Cardano/Unlog/BlockProp.hs
  nix/workbench/locli/src/Cardano/Unlog/Commands.hs
  nix/workbench/locli/src/Cardano/Unlog/LogObject.hs
  nix/workbench/locli/src/Cardano/Unlog/SlotStats.hs
  nix/workbench/locli/src/Cardano/Unlog/Summary.hs
  nix/workbench/locli/src/Cardano/Unlog/Timeline.hs
  nix/workbench/topology.sh
Owners: @devops

CAD-2839 workbench: a bit less unnecessary deps on local tools
  nix/workbench/default.nix
Owners: @devops

CAD-2907 workbench: increase stub compute duration to 0.5 (from 0.05)
  nix/workbench/profiles/node-services.nix
Owners: @devops

Refactor node's Shelley genesis file error handling
  cardano-node/src/Cardano/Node/Protocol.hs
  cardano-node/src/Cardano/Node/Protocol/Cardano.hs
  cardano-node/src/Cardano/Node/Protocol/Shelley.hs
Owners: @DavidEichmann, @dcoutts, @Jimbo4350, @erikd, @newhoggy

CAD-2772 add cases for Alonzo
  bench/tx-generator/src/Cardano/Benchmarking/CliArgsScript.hs
  bench/tx-generator/src/Cardano/Benchmarking/DSL.hs
  bench/tx-generator/src/Cardano/Benchmarking/FundSet.hs
  bench/tx-generator/src/Cardano/Benchmarking/GeneratorTx.hs
  bench/tx-generator/src/Cardano/Benchmarking/GeneratorTx/CLI/Parsers.hs
  bench/tx-generator/src/Cardano/Benchmarking/GeneratorTx/Genesis.hs
  bench/tx-generator/src/Cardano/Benchmarking/GeneratorTx/SizedMetadata.hs
  bench/tx-generator/src/Cardano/Benchmarking/GeneratorTx/Submission.hs
  bench/tx-generator/src/Cardano/Benchmarking/GeneratorTx/Tx.hs
  bench/tx-generator/src/Cardano/Benchmarking/OuroborosImports.hs
  bench/tx-generator/src/Cardano/Benchmarking/Script/Core.hs
  bench/tx-generator/src/Cardano/Benchmarking/Wallet.hs
Owners: @deepfire, @denisshevchenko, @jutaro, @MarcFontaine

CAD-2907 workbench block-propagation analysis: fast re-iteration mode
  nix/workbench/analyse.sh
Owners: @devops

WIP CAD-2907 locli: block event CDFs
  nix/workbench/locli/src/Cardano/Unlog/BlockProp.hs
Owners: @devops

reorder case
  bench/tx-generator/src/Cardano/Benchmarking/GeneratorTx/Submission.hs
Owners: @deepfire, @denisshevchenko, @jutaro, @MarcFontaine

remove strThreadIndex (used nowhere)
  bench/tx-generator/src/Cardano/Benchmarking/GeneratorTx/Submission.hs
Owners: @deepfire, @denisshevchenko, @jutaro, @MarcFontaine

Remove Submission data type. This type was used to pass around lots of data and MVars to places where they are not needed.
  bench/tx-generator/src/Cardano/Benchmarking/GeneratorTx.hs
  bench/tx-generator/src/Cardano/Benchmarking/GeneratorTx/Submission.hs
Owners: @deepfire, @denisshevchenko, @jutaro, @MarcFontaine

reorder stuff
  bench/tx-generator/src/Cardano/Benchmarking/GeneratorTx/Submission.hs
Owners: @deepfire, @denisshevchenko, @jutaro, @MarcFontaine

add TxSource abstraction in txSubmissionClient
  bench/tx-generator/src/Cardano/Benchmarking/GeneratorTx.hs
  bench/tx-generator/src/Cardano/Benchmarking/GeneratorTx/Submission.hs
  bench/tx-generator/src/Cardano/Benchmarking/Types.hs
Owners: @deepfire, @denisshevchenko, @jutaro, @MarcFontaine

Refactor to move the protocol error types to the Error class
  cardano-node/src/Cardano/Node/Protocol.hs
  cardano-node/src/Cardano/Node/Protocol/Alonzo.hs
  cardano-node/src/Cardano/Node/Protocol/Byron.hs
  cardano-node/src/Cardano/Node/Protocol/Cardano.hs
  cardano-node/src/Cardano/Node/Run.hs
Owners: @DavidEichmann, @dcoutts, @Jimbo4350, @erikd, @newhoggy, @devops

ScriptData WIP
  cardano-api/cardano-api.cabal
  cardano-api/src/Cardano/Api.hs
  cardano-api/src/Cardano/Api/Script.hs
  cardano-api/test/Test/Cardano/Api/Typed/Gen.hs
  cardano-api/test/Test/Cardano/Api/Typed/Script.hs
  cardano-api/test/cardano-api-test.cabal
Owners: @DavidEichmann, @dcoutts, @Jimbo4350, @erikd, @newhoggy

Redo readAlonzoGenesis using the general readGenesisAny
  cardano-node/src/Cardano/Node/Protocol/Alonzo.hs
  cardano-node/src/Cardano/Node/Protocol/Cardano.hs
Owners: @DavidEichmann, @dcoutts, @Jimbo4350, @erikd, @newhoggy

Separate the Alonzo genesis file from the Shelley genesis, node parts
  cardano-node/src/Cardano/Node/Configuration/POM.hs
  cardano-node/src/Cardano/Node/Protocol.hs
  cardano-node/src/Cardano/Node/Protocol/Cardano.hs
  cardano-node/src/Cardano/Node/Types.hs
Owners: @DavidEichmann, @dcoutts, @Jimbo4350, @erikd, @newhoggy

iohk-nix: bump configs for all environments to support alonzo
  flake.lock
  nix/nixos/cardano-node-service.nix
  nix/scripts-submit-api.nix
Owners: @devops

Separate the Alonzo genesis file from the Shelley genesis, CLI parts
  cardano-cli/src/Cardano/CLI/Shelley/Run/Genesis.hs
  cardano-node-chairman/src/Testnet/ByronShelley.hs
  configuration/chairman/byron-shelley/configuration.yaml
  scripts/byron-to-alonzo/mkfiles.sh
Owners: @DavidEichmann, @dcoutts, @Jimbo4350, @erikd, @newhoggy, @devops

CODEOWNERS:

# Technical writers
doc                                                           @fsancheziohk @nahern @olgahryniuk
README.*                                                      @fsancheziohk @nahern @olgahryniuk
cardano-cli/README.md                                         @fsancheziohk @nahern @olgahryniuk

# Release manager added for notification on dependency updates
cabal.project                                                 @LaurenceIO

# General reviewers per PR
#                       David          Duncan   Jordan     Erik   John
*                       @DavidEichmann @dcoutts @Jimbo4350 @erikd @newhoggy

# Specific reviewers for code pieces
# NB - The last matching pattern takes precedence



# /doc folder and README.* needs to be owned by @docs-access
doc                                                           @docs-access
README.*                                                      @docs-access

bench/tx-generator                                            @deepfire @MarcFontaine
bench                                                         @deepfire @denisshevchenko @jutaro @MarcFontaine
nix/workbench                                                 @deepfire @denisshevchenko @jutaro @MarcFontaine
nix/supervisord-cluster                                       @deepfire @denisshevchenko @jutaro @MarcFontaine
Makefile                                                      @deepfire

.buildkite                                                    @devops
.github                                                       @devops
ci                                                            @devops
configuration                                                 @devops
nix                                                           @devops
*.nix                                                         @devops
flake.lock                                                    @devops
bors.toml                                                     @devops
cardano-node/src/Cardano/Tracing/OrphanInstances/Network.hs   @devops
cardano-node/src/Cardano/Node/Configuration/Logging.hs        @devops
cardano-node/src/Cardano/Node/Configuration/Socket.hs         @devops
cardano-node/src/Cardano/Node/Run.hs                          @devops
